@model IEnumerable<PhanHeHTQT.Models.TbDoanCongTac>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.7/r-3.0.3/datatables.min.css" rel="stylesheet">
</head>
  
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="views">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDoanCongTac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDoanCongTac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoQuyetDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayQuyetDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianketThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MucDichCongTac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KetQuaCongTac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPhanLoaiDoanRaDoanVaoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdQuocGiaDoanNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDoanCongTac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDoanCongTac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoQuyetDinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayQuyetDinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianketThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MucDichCongTac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KetQuaCongTac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPhanLoaiDoanRaDoanVaoNavigation.PhanLoaiDoanRaDoanVao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdQuocGiaDoanNavigation.TenNuoc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDoanCongTac">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDoanCongTac">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDoanCongTac">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="~/js/import_excel.js"></script>
    <script src="~/js/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.1.8/b-3.1.2/b-colvis-3.1.2/b-html5-3.1.2/b-print-3.1.2/r-3.0.3/datatables.min.js"></script>
    <script>
        //Datatable trong datatable.net. Tìm hiểu thêm thông tin: https://datatables.net/manual/
        var table = new DataTable("#views", {
            columnDefs: [
                {
                    orderable: false,
                    targets: -1
                },
            ],
            language: {
                //Điều chỉnh phần hiển thị label của thanh tìm kiếm - Xem thêm thông tin: https://datatables.net/reference/option/language.search
                    search: "",
                    searchPlaceholder:"Tìm kiếm",
                //Điều chỉnh phần hiển thị thông tin của table - Xem thêm thông tin: https://datatables.net/reference/option/language.info
                info: "Tổng cộng _TOTAL_ bản ghi",
            },
            createdRow: (row, data, index) => {
            },
            layout: {//Layout: https://datatables.net/examples/layout/index.html
                topStart: {
                    buttons: [//extension buttons: https://datatables.net/extensions/buttons/config
                        {
                            className: 'btn btn-primary btn-create', //Thêm class cho button
                            text: 'Thêm Đoàn công tác',
                            action: function (e, dt, node, config) {//Hành động của button
                                window.location.href = '@Url.Action("Create")';
                            }
                        },
                       
                        {
                            extend: "excel",
                            className: 'btn btn-primary btn-excel', //Thêm class cho button
                            text: 'Xuất excel',
                            exportOptions: {
                                columns: function(idx, data, node) {
                                    if (node.classList.contains("_nonorder")) return false;
                                    return true;
                                },
                            }
                        },

                        {
                            className: 'btn btn-primary btn-header',
                            text: 'Nhập Excel',
                            action: function (e, dt, node, config) {
                                import_excel((json) => {
                                    let data = JSON.parse(json);
                                    let list = data['Sheet1'];
                                    let _ExcelNoSheet = [];
                                    for (let i = 0; i < list.length; ++i) {
                                        let arr = [];
                                        for (const [key, value] of Object.entries(list[i])) {
                                            arr.push(value.toString());
                                        }
                                        _ExcelNoSheet.push(arr);
                                    }
                                    let _json = JSON.stringify(_ExcelNoSheet, null, 4);
                                    console.log(_json);
                                    $.ajax({
                                        method: "post",
                                        url: "/TbDoanCongTacs/Excel",
                                        data: {
                                            "json": _json,
                                        },
                                        success: function (response) {
                                            // Code to execute if the request succeeds
                                            console.log('Success:', response.value['msg']);
                                            alert("Thêm dữ liệu thành công!");
                                        },
                                        error: function (xhr, status, error) {
                                            // Code to execute if the request fails
                                            alert('Error:' + xhr.responseJSON.value['msg']);
                                        }
                                    });
                                });
                            }
                        }
                    ]
                }
            }
        });
    </script>
}